Repository codeharborhub/codeharborhub.github.io, pull requests merged in 2024-08, with the labels that each got.

#4125 New Blog Added
  blog/iot-integration-and-application-development.md
Labels: GSSOC'24, level1, gssoc

#4126 Create cpp_deques.md
  dsa/intermediate/cpp_deques.md
Labels: GSSOC'24, level1, gssoc

#4127 Create fenwickTree.md
  dsa/Advance/fenwickTree.md
Labels: GSSOC'24, level1, gssoc

#4128 Create SegmentTree.md
  dsa/Advance/SegmentTree.md
Labels: GSSOC'24, level1, gssoc

#4129 Add files via upload
  dsa-solutions/lc-solutions/0100-0199/0171-excel-sheet-column-number.md
Labels: GSSOC'24, level1, gssoc

#4112 Add Momentum in Deep Learning Optimizers
  docs/Deep Learning/Optimizers in Deep Learning/Momentum.md
Labels: GSSOC'24, level1, gssoc

#4136 Added solution for lc 2815
  dsa-solutions/lc-solutions/2800-2899/2815-maximum-sum-of-pair-with-same-largest-digit.md
Labels: GSSOC'24, level1, gssoc

#4153 [Feature]: Add Vue.Js tutorials proper output
  docs/Vue.js/ComponentBased.md
  docs/Vue.js/ComputedPropertiesAndWatchers.md
  docs/Vue.js/DeclarativeRendering.md
  docs/Vue.js/Routing.md
  docs/Vue.js/StateManagement.md
  docs/Vue.js/Two-WayDataBinding.md
Labels: GSSOC'24, level3, gssoc

#4154 New Blog added
  blog/leveraging-gpt-models-for-microfrontends.md
  dsa-solutions/lc-solutions/0100-0199/0171-excel-sheet-column-number.md
Labels: GSSOC'24, level1, gssoc

#4141 Prompt Engineering folder added
  docs/prompt engineering/prompts-basics.md
  docs/prompt engineering/prompts-best-practices.md
  docs/prompt engineering/prompts-examples.md
  docs/prompt engineering/prompts-strategies.md
  docs/prompt engineering/prompts-tools.md
  docs/prompt engineering/prompts-types.md
Labels: GSSOC'24, level1, gssoc

#4155 solution added to 1009
  dsa-solutions/lc-solutions/1000-1099/1009-complement-of-base-10-integer.md
Labels: GSSOC'24, level1, gssoc

#4156 solution added to 1005
  dsa-solutions/lc-solutions/1000-1099/1005-maximize-sum-of-array-after-k-negations.md
Labels: GSSOC'24, level1, gssoc

#4157 solution added to 1018
  dsa-solutions/lc-solutions/1000-1099/1018-binary-prefix-divisible-by-5.md
Labels: GSSOC'24, level1, gssoc

#4158 Create Web-Development-with-Django.md
  blog/Web-Development-with-Django.md
Labels: GSSOC'24, level1, gssoc

#4159 Create Cybersecurity-in-Cloud-Computing.md
  blog/Cybersecurity-in-Cloud-Computing.md
Labels: GSSOC'24, level1, gssoc

#4166 New Blog Added
  blog/piracy-preserving-ai.md
Labels: GSSOC'24, level1, gssoc

#4165 add documentation on gpt
  blog/Leveraging GPT model for Natural Language Processing Tasks.md
Labels: GSSOC'24, level1, gssoc

#4167 New Blog Added
  blog/composable-architecture.md
Labels: GSSOC'24, level1, gssoc

#4172 2446 added
  dsa-solutions/lc-solutions/2400-2499/2446-Determine-if-Two-Events-Have-Conflict.md
Labels: GSSOC'24, level1, gssoc

#4171 2437 added
  dsa-solutions/lc-solutions/2400-2499/2437-Number-of-Valid-Clock-Times.md
Labels: GSSOC'24, level1, gssoc

#4169 Create 0120-triangle leetcode solution
  dsa-solutions/lc-solutions/0100-0199/0120-trianglepath.md
Labels: GSSOC'24, level1, gssoc

#4170 2432 added
  dsa-solutions/lc-solutions/2400-2499/2432-The-Employee-That-Worked-on-the-Longest-Task.md
Labels: GSSOC'24, level1, gssoc

#4177 added portfolio website
  src/data/showcase/ridhi-portfolio.png
  src/data/userData.tsx
Labels: GSSOC'24, level1, gssoc, Showcase Addition Request

#4180 added leetcode solution for problem 122
  dsa-solutions/lc-solutions/0100-0199/0122-best-time-to-buy-sell-stock-II.md
Labels: GSSOC'24, level1, gssoc

#4182 Add Solution to LC problem 3040
  dsa-solutions/lc-solutions/3000-3099/3040 - Maximum Number of Operations With the Same Score II.md
Labels: GSSOC'24, level1, gssoc

#4181 Add solution to LC problem 791
  dsa-solutions/lc-solutions/0700-0799/791 - Custom Sort String.md
Labels: GSSOC'24, level1, gssoc

#4188 Complete DSA Cheat Sheet 🤩💯
  courses/html/HTML CheetSheet.pdf
  dsa/DSA CheetSheet.pdf
Labels: GSSOC'24, level1, gssoc

#4190 Complete CSS Cheat Sheet 🤩💯
  courses/css/CSS cheetsheet.pdf
Labels: GSSOC'24, level1, gssoc

#4189 Add Solution to LC problem 792
  dsa-solutions/lc-solutions/0700-0799/792 - Number of Matching Subsequences.md
Labels: GSSOC'24, level1, gssoc

#4192 Added solution link
  dsa-problems/leetcode-problems/1200-1299.md
Labels: GSSOC'24, level1, gssoc

#4205 ReactJS CheatSheet For Absolute Beginners! 🤩💯
  courses/react-js/1719650357037.pdf
Labels: GSSOC'24, level1, gssoc

#4201 Added solution for leetcode problem 1221
  dsa-solutions/lc-solutions/1200-1299/1221-split-a-string-in-balanced-strings.md
Labels: GSSOC'24, level1, gssoc

#4209 Binary Search Problem from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/BinarySearch.md
Labels: GSSOC'24, level1, gssoc

#4210 Star Elements problem from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/Star- Element.md
Labels: GSSOC'24, level1, gssoc

#4223 added solution for 1807
  dsa-solutions/lc-solutions/0100-0199/0171-Excel-sheet-column-number.md
  dsa-solutions/lc-solutions/1800-1899/1807-evaluate-the-bracket-pairs-of-a-string.md
Labels: GSSOC'24, level1, gssoc

#4251 2455
  dsa-solutions/lc-solutions/2400-2499/2455-Average-Value-of-Even-Numbers-That-Are-Divisible-by-Three.md
Labels: GSSOC'24, level1, gssoc

#4247 Check Equal Arrays problem from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/Check-Equal-Arrays.md
Labels: GSSOC'24, level1, gssoc

#4246 Kth Smallest problem from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/KthSmallest.md
Labels: GSSOC'24, level1, gssoc

#4239 Added solution for lc-3211
  dsa-solutions/lc-solutions/3200-3299/3211-generate-binary-strings-without-adjacent-zeros.md
Labels: GSSOC'24, level1, gssoc

#4252 2460
  dsa-solutions/lc-solutions/2400-2499/2460-Apply-Operations-to-an-Array.md
Labels: GSSOC'24, level1, gssoc

#4260 Added AdaGrad in Deep Learning Optimizers
  docs/Deep Learning/Optimizers in Deep Learning/AdaGard.md
Labels: GSSOC'24, level1, gssoc

#4270 Added solution for lc-2220
  dsa-solutions/lc-solutions/2200-2299/2220-minimum-bit-flips-to-convert-number.md
Labels: GSSOC'24, level1, gssoc

#4269 added Adam optimizer
  docs/Deep Learning/Optimizers in Deep Learning/Adam.md
Labels: GSSOC'24, level1, gssoc

#4271 Added solution to lc-846
  dsa-solutions/lc-solutions/0800- 0899/0846-hand-of-straights.md
Labels: GSSOC'24, level1, gssoc

#4278 Solution of Faithful Number problem from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/FaithfulNumbers.md
Labels: GSSOC'24, level1, gssoc

#4222 Solved issue 4198
  dsa-problems/leetcode-problems/0400-0499.md
Labels: GSSOC'24, level1, gssoc

#4250 2451 added
  dsa-solutions/lc-solutions/2400-2499/24551- Odd-String-Difference.md
Labels: GSSOC'24, level1, gssoc

#4261 Maps solutions for Leetcode 300-350 Problem and addresses changes requested
  dsa-problems/leetcode-problems/0300-0399.md
Labels: GSSOC'24, level1, gssoc

#4262 Adds Leetcode 302 solution 🧩 and addresses changes requested
  dsa-solutions/lc-solutions/0300-0399/0302-smallest-rectangle-enclosing-black-pixels.md
Labels: GSSOC'24, level1, gssoc

#4263 Adds Leetcode 305 solution 🧩 and addresses changes requested
  dsa-solutions/lc-solutions/0300-0399/0305-number-of-islands-ii.md
Labels: GSSOC'24, level1, gssoc

#4264 Adds Leetcode 308 solution 🧩 and addresses changes requested
  dsa-solutions/lc-solutions/0300-0399/0308-range-sum-query-2d-mutable.md
Labels: GSSOC'24, level1, gssoc

#4283 Solved issue 4197
  dsa-problems/leetcode-problems/0400-0499.md
Labels: GSSOC'24, level1, gssoc

#4284 added leetcode solution for problem 2242
  dsa-solutions/lc-solutions/2200-2299/2242-Maximum-Score-of-a-Node-sequence.md
Labels: GSSOC'24, level1, gssoc

#4287 Solution of Count Digits from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/count-digits.md
Labels: GSSOC'24, level1, gssoc

#4288 Solution of Rotate Array from gfg is added
  dsa-solutions/gfg-solutions/Easy problems/rotatearray.md
Labels: GSSOC'24, level1, gssoc

#4289 Updated operator.md
  docs/C/operator.md
Labels: GSSOC'24, level1, gssoc

#4290 Solution of Transpose of a matrix is added
  dsa-solutions/gfg-solutions/Easy problems/transpost-of-matrix.md
Labels: GSSOC'24, level1, gssoc
