Repository codeharborhub/codeharborhub.github.io, pull requests merged in 2024-05, with the labels that each got.

#58 Added elements_&_tags-html file
  docs/html/elements-and-tags-html.md
  docs/html/image.png
Labels: documentation, GSSOC'24, level1, gssoc

#64 Added html-tables.md file
  docs/html/html-tables.md
Labels: GSSOC'24, level2, gssoc

#83 fixing courses and features grid size and adding links
  src/components/HomePage/Courses/index.tsx
  src/components/HomePage/Features/index.tsx
  src/components/HomePage/home.module.css
  src/database/home/index.tsx
Labels: enhancement, GSSOC'24, gssoc

#85 Update TodoItem.js
  courses/react-js/intermidiate-level/managing-complex-uis/TodoItem.js
Labels: bug

#86 Update FetchDataExample.js
  courses/react-js/intermidiate-level/working-with-apis/FetchDataExample.js
Labels: bug, GSSOC'24, level3, gssoc

#87 Update SomeComponent.js
  src/theme/SomeComponent.js
Labels: bug

#88 added multimedia html
  docs/html/multimedia/adding-audio-and-video.md
  docs/html/multimedia/embedding-multimedia-content.md
  docs/html/multimedia/multimedia-attributes-and-controls.md
Labels: documentation, GSSOC'24, gssoc

#102 Added Learn.md file
  Learn.md
  assets/Community.png
  assets/Courses.png
  assets/Showcase.png
  assets/Tutorials.png
Labels: documentation, GSSOC'24, level1, gssoc

#110 added HTML validation and debugging
  docs/html/html-validation-and-debugging/common-html-errors-and-fixes.md
  docs/html/html-validation-and-debugging/importance-of-validating-html-code.md
  docs/html/html-validation-and-debugging/using-w3c-validator.md
Labels: documentation, GSSOC'24, level1, gssoc

#123 added next step and resources for html
  docs/html/forms/building-forms.md
  docs/html/forms/form-attributes.md
  docs/html/forms/form-input-elements.md
  docs/html/forms/form-validation.md
  docs/html/next-steps-and-resources/advanced-html-topics.md
  docs/html/next-steps-and-resources/community-support.md
  docs/html/next-steps-and-resources/further-learning-resources.md
Labels: documentation, GSSOC'24, gssoc

#140 Java tutorials
  docs/java/arrays-and-collections/array-lists-and-collections-framework.md
  docs/java/arrays-and-collections/arrays-in-java.md
  docs/java/arrays-and-collections/sorting-and-searching-arrays.md
  docs/java/arrays-and-collections/using-arrays-and-collections.md
  docs/java/arrays-and-collections/working-with-arrays-and-collections.md
  docs/java/basic-syntax-and-data-types/java-syntax-and-structure.md
  docs/java/basic-syntax-and-data-types/operators-and-expressions.md
  docs/java/basic-syntax-and-data-types/variables-and-data-types.md
  docs/java/control-statements/conditional-statements.md
  docs/java/control-statements/loops-in-java.md
  docs/java/control-statements/switch-and-ternary-statements.md
  docs/java/exception-handling/checked-vs-unchecked-exceptions.md
  docs/java/exception-handling/exception-basics-and-try-catch.md
  docs/java/exception-handling/exception-handling-best-practices.md
  docs/java/exception-handling/throwing-and-catching-exceptions.md
  docs/java/file-handling-and-io/reading-and-writing-files.md
  docs/java/file-handling-and-io/serialization-and-deserialization.md
  docs/java/file-handling-and-io/working-with-files-and-directories.md
  docs/java/file-handling-and-io/working-with-io-channels.md
  docs/java/file-handling-and-io/working-with-io-readers-and-writers.md
  docs/java/file-handling-and-io/working-with-io-streams.md
  docs/java/introduction-to-java/setup-java-development-environment.md
  docs/java/introduction-to-java/what-is-java.md
  docs/java/introduction-to-java/why-learn-java.md
  docs/java/methods-and-functions/method-declaration-and-syntax.md
  docs/java/methods-and-functions/method-overloading-and-recursion.md
  docs/java/methods-and-functions/method-parameters-and-return-values.md
  docs/java/object-oriented-programming/classes-and-objects.md
  docs/java/object-oriented-programming/custom-exceptions-in-java.md
  docs/java/object-oriented-programming/design-patterns-in-java.md
  docs/java/object-oriented-programming/encapsulation-and-abstraction.md
  docs/java/object-oriented-programming/inheritance-and-polymorphism.md
  docs/java/object-oriented-programming/interfaces-and-abstract-classes.md
  docs/java/object-oriented-programming/object-oriented-design-principles.md
Labels: documentation, GSSOC'24, level2, gssoc

#141 added a intermediate category and added binary tree concept
  dsa/intermediate/_category_.json
  dsa/intermediate/binary_tree.md
Labels: documentation, GSSOC'24, level2, gssoc

#144 completed responsive web design
  docs/html/responsive-web-design/blue.png
  docs/html/responsive-web-design/flexbox-and-grid-layout.md
  docs/html/responsive-web-design/flexbox.png
  docs/html/responsive-web-design/green.png
  docs/html/responsive-web-design/grid.png
  docs/html/responsive-web-design/introduction-to-responsive-design.md
  docs/html/responsive-web-design/media-queries-and-breakpoints.md
  docs/html/responsive-web-design/output.png
  docs/html/responsive-web-design/white.png
Labels: documentation, GSSOC'24, level2, gssoc

#143 Added some text align in Responsive for small device
  docusaurus.config.js
  src/components/HomePage/header.css
Labels: documentation, GSSOC'24, level1, gssoc

#151 typos fixed in contributing.md
  CONTRIBUTING.md
Labels: bug, GSSOC'24, level1, gssoc

#152 HTML Lists Blog Posts
  docs/html/lists/definition-lists.md
  docs/html/lists/list-item-attributes.md
  docs/html/lists/ordered-lists.md
  docs/html/lists/unordered-lists.md
Labels: documentation, GSSOC'24, level2, gssoc

#157 HTML Links and Anchors Blog Posts
  docs/html/links-and-anchors/creating-hyperlinks.md
  docs/html/links-and-anchors/link-attributes.md
  docs/html/lists/definition-lists.md
  docs/html/lists/list-item-attributes.md
  docs/html/lists/ordered-lists.md
  docs/html/lists/unordered-lists.md
Labels: documentation, GSSOC'24, level2, gssoc

#158 Java tutorials
  docs/java/advanced-topics-and-best-practices/advanced-java-topics.md
  docs/java/advanced-topics-and-best-practices/java-best-practices-and-code-standards.md
  docs/java/advanced-topics-and-best-practices/java-performance-tuning-and-optimization.md
  docs/java/build-automation-with-maven/configuring-and-building-projects-with-maven.md
  docs/java/build-automation-with-maven/introduction-to-maven.md
  docs/java/build-automation-with-maven/managing-dependencies-and-plugins.md
  docs/java/gui-programming-with-swing/creating-gui-components.md
  docs/java/gui-programming-with-swing/event-handling-and-listeners.md
  docs/java/gui-programming-with-swing/introduction-to-swing.md
  docs/java/gui-programming-with-swing/working-with-dialogs-and-frames.md
  docs/java/gui-programming-with-swing/working-with-layout-managers.md
  docs/java/jdbc-and-databases/connecting-to-a-database.md
  docs/java/jdbc-and-databases/executing-sql-statements-and-transactions.md
  docs/java/jdbc-and-databases/introduction-to-jdbc.md
  docs/java/multithreading-and-concurrency/introduction-to-multithreading.md
  docs/java/multithreading-and-concurrency/multithreading-best-practices.md
  docs/java/multithreading-and-concurrency/multithreading-design-patterns.md
  docs/java/multithreading-and-concurrency/synchronization-and-concurrent-collections.md
  docs/java/multithreading-and-concurrency/thread-class-and-runnable-interface.md
  docs/java/multithreading-and-concurrency/thread-pools-and-executors.md
  docs/java/multithreading-and-concurrency/working-with-threads-and-executors.md
  docs/java/networking-in-java/client-server-communication.md
  docs/java/networking-in-java/networking-best-practices.md
  docs/java/networking-in-java/socket-programming-and-url-connections.md
  docs/java/networking-in-java/working-with-http-and-https.md
  docs/java/networking-in-java/working-with-tcp-and-udp.md
  docs/java/networking-in-java/working-with-web-sockets.md
  docs/java/unit-testing-with-junit/introduction-to-junit-framework.md
  docs/java/unit-testing-with-junit/test-suites-and-assertions.md
  docs/java/unit-testing-with-junit/writing-and-running-tests-withjunit.md
Labels: documentation, GSSOC'24, level2, gssoc

#159 HTML Text Formatting Blog Posts
  docs/html/text-formatting/headings.md
  docs/html/text-formatting/paragraphs.md
  docs/html/text-formatting/text-formatting.md
Labels: documentation, GSSOC'24, level1, gssoc

#161 Updated html forms
  docs/html/forms/form-attributes.md
  docs/html/forms/form-input-elements.md
Labels: documentation, GSSOC'24, level2, gssoc

#163 Add: LeetCode Problems 1000 - 1099
  dsa-problems/leetcode-problems/1000-1099.md
Labels: documentation, GSSOC'24, level2, gssoc

#169 leetcode 0300-0399 added
  dsa-problems/leetcode-problems/0300-0399.md
Labels: documentation, GSSOC'24, level2, gssoc

#170 added leetcode 400-499
  dsa-problems/leetcode-problems/0400-0499.md
Labels: documentation, GSSOC'24, level2, gssoc

#173 added 0500-0599 leetcode
  dsa-problems/leetcode-problems/0500-0599.md
Labels: documentation, GSSOC'24, level2, gssoc

#174 Add: LeetCode Problems 900 - 999
  dsa-problems/leetcode-problems/0900-0999.md
Labels: documentation, GSSOC'24, level2, gssoc

#178 Add: LeetCode Problems 700 - 799
  dsa-problems/leetcode-problems/0700-0799.md
Labels: documentation, GSSOC'24, level2, gssoc

#181 added 0600-0699 leetcode
  dsa-problems/leetcode-problems/0600-0699.md
Labels: documentation, GSSOC'24, level2, gssoc

#182 Add: LeetCode Problems 800 - 899
  dsa-problems/leetcode-problems/0800-0899.md
Labels: documentation, GSSOC'24, level2, gssoc

#187 fixed issues
  courses/react-js/intermidiate-level/managing-complex-uis/App.js
  courses/react-js/intermidiate-level/managing-complex-uis/ChildComponent.js
  courses/react-js/intermidiate-level/managing-complex-uis/ParentComponent.js
  courses/react-js/intermidiate-level/managing-complex-uis/TodoApp.js
  courses/react-js/intermidiate-level/managing-complex-uis/TodoItem.js
  courses/react-js/intermidiate-level/managing-complex-uis/TodoList.js
  courses/react-js/intermidiate-level/managing-complex-uis/lesson_1.md
  courses/react-js/intermidiate-level/managing-complex-uis/lesson_2.md
  docs/react/back-end-integration/DataFetcher.jsx
  docs/react/back-end-integration/FetchDataComponent.jsx
Labels: bug

#195 Added Contact Us Page
  docusaurus.config.js
  src/pages/contact/assets/contact.png
  src/pages/contact/index.tsx
  src/pages/contact/styles.module.css
Labels: enhancement, GSSOC'24, level2, gssoc

#199 Issue #166
  courses/react-js/advanced-level/component-optimization/MemoizationExample.js
Labels: bug, GSSOC'24, level2, gssoc

#205 hover on image on the main page
  src/components/HomePage/header.css
Labels: enhancement, GSSOC'24, level2, gssoc

#206 Added: LeetCode Problems 1100 - 1199
  dsa-problems/leetcode-problems/1100-1199.md
Labels: documentation, GSSOC'24, level2, gssoc

#207 Added Code of Conduct and Cookie Policy Page
  docusaurus.config.js
  src/pages/code-of-conduct/index.tsx
  src/pages/cookie-policy/index.tsx
Labels: documentation, GSSOC'24, level2, gssoc

#212 Added feature to auto comment on pr merged
  .github/workflows/auto-comment-on-pr-merge.yml
Labels: enhancement, GSSOC'24, level2, gssoc

#218 Added: LeetCode Problems 1200 - 1299
  dsa-problems/leetcode-problems/1200-1299.md
Labels: documentation, GSSOC'24, level2, gssoc

#224 Added issues template for documentation issues
  .github/ISSUE_TEMPLATE/documentation.md
Labels: enhancement, GSSOC'24, level2, gssoc

#225 Leetcode 1300-1399
  dsa-problems/leetcode-problems/1300-1399.md
Labels: documentation, GSSOC'24, level2, gssoc

#226 added workflow for closing old issues
  .github/workflows/close-old-issue.yml
Labels: enhancement, GSSOC'24, level2, gssoc

#229 added workflow as per issue #214
  .github/workflows/autocomment-iss-close.yml
Labels: enhancement, GSSOC'24, level2, gssoc

#251 Setting up your development environment
  docs/html/setup-environment.md
Labels: documentation, GSSOC'24, level2, gssoc

#253 Added leetcode 1500 - 1599
  dsa-problems/leetcode-problems/1500-1599.md
Labels: documentation, GSSOC'24, level2, gssoc

#252 Added animation
  package-lock.json
  package.json
  src/components/HomePage/Header.tsx
  src/components/HomePage/header.css
  src/components/HomePage/vanilla-tilt.js
Labels: enhancement, GSSOC'24, level2, gssoc

#255 searching-techniques.md
  dsa/beginner/searching-techniques.md
Labels: documentation, GSSOC'24, level2, gssoc

#265 Add: LeetCode Problems 1600-1699
  dsa-problems/leetcode-problems/1600-1699.md
Labels: documentation, GSSOC'24, level2, gssoc

#266 [Add]: LeetCode Problems 1700 - 1799
  dsa-problems/leetcode-problems/1700-1799.md
Labels: GSSOC'24, level2, gssoc

#267 [Add]: LeetCode Problems 1800 - 1899
  dsa-problems/leetcode-problems/1800-1899.md
Labels: documentation, GSSOC'24, level2, gssoc

#268 [Add]: LeetCode Problems 1900 - 1999
  dsa-problems/leetcode-problems/1900-1999.md
Labels: documentation, GSSOC'24, level2, gssoc

#274 [Add]: LeetCode Problems 2000 - 2099
  dsa-problems/leetcode-problems/2000-2099.md
Labels: documentation, GSSOC'24, level2, gssoc

#283 Added new Section for Tweets message
  package-lock.json
  package.json
  src/components/Tweet/index.tsx
  src/components/Tweet/styles.module.css
  src/components/TweetQuote/index.tsx
  src/components/TweetQuote/styles.module.css
  src/css/custom.css
  src/data/tweets.tsx
  src/pages/index.module.css
  src/pages/index.tsx
Labels: enhancement

#284 [FEAT]: Created Issue forms and made the issue options more visually appealing
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: enhancement, GSSOC'24, level1, gssoc

#287 hovering animation on card #286
  src/pages/showcase/_components/ShowcaseCard/styles.module.css
Labels: enhancement, GSSOC'24, level1, gssoc

#290 [Add]: LeetCode Problems 2100 - 2199
  dsa-problems/leetcode-problems/2100-2199.md
Labels: documentation, GSSOC'24, level1, gssoc

#293 [Add]: LeetCode Problems 2200 - 2299
  dsa-problems/leetcode-problems/2200-2299.md
Labels: documentation, GSSOC'24, level1, gssoc

#294 [Add]: LeetCode Problems 2300 - 2399
  dsa-problems/leetcode-problems/2300-2399.md
Labels: documentation, GSSOC'24, level1, gssoc

#296 [Add]: LeetCode Problems 2400 - 2499
  dsa-problems/leetcode-problems/2400-2499.md
Labels: documentation, GSSOC'24, level1, gssoc

#297 [Add]: LeetCode Problems 2500 - 2599
  dsa-problems/leetcode-problems/2500-2599.md
Labels: documentation, GSSOC'24, level1, gssoc

#306 LC 1400-1499
  dsa-problems/leetcode-problems/1400-1499.md
Labels: documentation, GSSOC'24, level2, gssoc

#301 Create 0002-Add-Two-Numbers.md
  dsa-solutions/lc-solutions/0000-0099/0002-Add-Two-Numbers.md
Labels: documentation, GSSOC'24, level2, gssoc

#307 Added Tailwindcss in the site
  docs/tailwind/_category_.json
  docs/tailwind/getstart.md
  docs/tailwind/intro-tailwind.md
  docusaurus.config.js
  static/icons/tailwind.png
Labels: documentation, enhancement, GSSOC'24, level2, gssoc

#309 [Add]: LeetCode Problems 2600 - 2699
  dsa-problems/leetcode-problems/2600-2699.md
Labels: documentation, GSSOC'24, level2, gssoc

#311 [Add]: LeetCode Problems 2700 - 2799
  dsa-problems/leetcode-problems/2700-2799.md
Labels: documentation, GSSOC'24, level2, gssoc

#320 Added hovering animation on the cards .
  src/components/HomePage/home.module.css
Labels: enhancement, GSSOC'24, level1, gssoc

#312 [Add]: LeetCode Problems 2800 - 2899
  dsa-problems/leetcode-problems/2800-2899.md
Labels: documentation, GSSOC'24, level2, gssoc

#321 [Add]: LeetCode Problems 2900 - 2999
  dsa-problems/leetcode-problems/2900-2999.md
Labels: documentation, GSSOC'24, level2, gssoc

#322 [Add]: LeetCode Problems 3000 - 3099
  dsa-problems/leetcode-problems/3000-3099.md
Labels: documentation, GSSOC'24, level2, gssoc

#323 [Add]: LeetCode Problems 3100 - 3199
  dsa-problems/leetcode-problems/3100-3199.md
Labels: documentation, GSSOC'24, level2, gssoc
