Repository codeharborhub/codeharborhub.github.io, pull requests merged in 2024-07, with the labels that each got.

#2385 Solved #2384- Beam-Search.md
  dsa-solutions/Searching-Algorithms/Beam-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2391 Add Flappy Game
  src/data/showcase/flappy_game.png
  src/data/userData.tsx
Labels: GSSOC'24, level1, gssoc, Showcase Addition Request

#2390 Added Travelling Salesman Problem
  assets/tsp.png
  dsa/Algorithms/Dynamic Programming/14-Travelling-Sales-Person.md
Labels: documentation, GSSOC'24, level1, gssoc

#2393 Added the Solution of All Ancestors of a Node in a Directed Acyclic - Issue No- 2311
  dsa-problems/leetcode-problems/2100-2199.md
  dsa-solutions/lc-solutions/2100-2199/2192.all-ancestors-of-a-node-in-a-directed-acyclic-graph.md
Labels: documentation, GSSOC'24, level1, gssoc

#2392 Add linux docs
  docs/Linux/Basic-Command.md
  docs/Linux/Introduction.md
  docs/Linux/Linux-Permission.md
  docs/Linux/Linux-Redirectors.md
  docs/Linux/String-Manipulation.md
Labels: documentation, GSSOC'24, level1, gssoc

#2399 Update table-attributes.md
  docs/html/tables/table-attributes.md
Labels: documentation, GSSOC'24, level1, gssoc

#2397 Solved #2396- Exponential-Search.md
  dsa-solutions/Searching-Algorithms/Exponential-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2406 Computability classes
  dsa/Advance/Computability.md
Labels: GSSOC'24, level1, gssoc

#2409 added rateus feature in home page
  src/components/RateUsPopup/RateUsPopup.js
  src/components/RateUsPopup/RateUsPopup.module.css
  src/components/Tweet/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
Labels: GSSOC'24, level1, gssoc, javascript

#2410 Fixes #2387 added solution on lc problem 865
  .anima/.gitignore
  dsa-solutions/lc-solutions/0800-0899/0865 -smallest- subtree-with-all-the-deepest-nodes.md
Labels: documentation, GSSOC'24, level1, gssoc

#2411 Added solution for LeetCode Problem 1512
  dsa-problems/leetcode-problems/1500-1599.md
  dsa-solutions/lc-solutions/1500-1599/1512-number-of-good-pairs.md
Labels: documentation, GSSOC'24, level1, gssoc

#2413 Update table-structure.md
  docs/html/tables/table-structure.md
Labels: documentation, GSSOC'24, level1, gssoc

#2415 Create 0542-01-Matrix.md
  dsa-solutions/lc-solutions/0500-0599/0542-01-Matrix.md
Labels: documentation, GSSOC'24, level1, gssoc

#2414 Fixes #2388 Added solution on lc problem 863
  dsa-solutions/lc-solutions/0800-0899/0863-All-nodes-distance-K-in-binary-tree.md
Labels: documentation, GSSOC'24, level1, gssoc

#2425 Added Solution for LeetCode problem 2824
  dsa-solutions/lc-solutions/2800-2899/2824-count-pairs-whose-sum-is-less-then-target.md
Labels: documentation, GSSOC'24, level1, gssoc

#2426 Added the Solution of Find Three Consecutive Integers That Sum to a Given Number - Issue NO #2395
  dsa-problems/leetcode-problems/2100-2199.md
  dsa-solutions/lc-solutions/2100-2199/2177.find-three-consecutive-integers-that-sum-to-a-given-number.md
Labels: documentation, GSSOC'24, level1, gssoc

#2421 Added solution for LeetCode Problem 2942
  dsa-solutions/lc-solutions/2900-2999/2942-find-words-containing-character.md
Labels: documentation, GSSOC'24, level1, gssoc

#2424 Solved #2423- Ternary-search.md
  dsa-solutions/Searching-Algorithms/Ternary-search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2401 Solution to problem 0224
  dsa-problems/leetcode-problems/0200-0299.md
  dsa-solutions/lc-solutions/0200-0299/0224-Basic-Calculator.md
  dsa-solutions/lc-solutions/0200-0299/0225-Implement-Stack-using-Queues.md
Labels: documentation, GSSOC'24, level1, gssoc

#2433 Add gfg soln second largest
  dsa-solutions/gfg-solutions/Easy problems/second-largest3735.md
Labels: documentation, GSSOC'24, level1, gssoc

#2436 Add gfg soln Common in 3 sorted array.
  dsa-solutions/gfg-solutions/Easy problems/common-elements1132.md
Labels: documentation, GSSOC'24, level1, gssoc

#2435 add quesno 1701
  dsa-solutions/lc-solutions/1700-1799/1701-Average-Waiting-Time.md
Labels: documentation, GSSOC'24, level1, gssoc

#2437 Add gfg soln Leaders in an array
  dsa-solutions/gfg-solutions/Easy problems/leaders-in-an-array-1587115620
Labels: documentation, GSSOC'24, level1, gssoc

#2434 Add gfg soln Power Of 2
  dsa-solutions/gfg-solutions/Easy problems/power-of-two.md
Labels: documentation, GSSOC'24, level1, gssoc

#2443 Added AlexNet
  docs/Machine Learning/AlexNet.md
Labels: documentation, GSSOC'24, level1, gssoc

#2444 Added leetcode 930 solution
  dsa-solutions/lc-solutions/0900-0999/0930-binary-sub-arrays-with-sum.md
Labels: documentation, GSSOC'24, level1, gssoc

#2442 pandas series docs
  docs/Pandas/image-1.png
  docs/Pandas/pandas-series.md
Labels: documentation, GSSOC'24, level1, gssoc

#2465 Added the leetcode solution 122
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0122-best-time-buy-sell-stock-II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2446 Added leetocde 932
  dsa-solutions/lc-solutions/0900-0999/0931-minimum-falling-path-sum.md
  dsa-solutions/lc-solutions/0900-0999/0932-beautiful-array.md
  dsa-solutions/lc-solutions/0900-0999/0933-number-of-recent-calls.md
Labels: documentation, GSSOC'24, level1, gssoc

#2461 Added the solution of leetcode 123
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0123-best-time-to-buy-sell-stock-III.md
Labels: documentation, GSSOC'24, level1, gssoc

#2448 C Language
  docs/C/_category_.json
  docs/C/array.md
  docs/C/datatype.md
  docs/C/enums.md
  docs/C/file.md
  docs/C/function.md
  docs/C/ifelse.md
  docs/C/intro.md
  docs/C/loop.md
  docs/C/operator.md
  docs/C/output.md
  docs/C/pointer.md
  docs/C/recursion.md
  docs/C/structure.md
  docs/C/userinput.md
  docs/C/variable.md
Labels: documentation, GSSOC'24, level2, gssoc

#2449 Added the Solution of Number of Zero-Filled Subarrays - Issue No - 2428
  dsa-problems/leetcode-problems/2300-2399.md
  dsa-solutions/lc-solutions/2300-2399/2348.number-of-zero-filled-subarrays.md
Labels: documentation, GSSOC'24, level1, gssoc

#2459 Added leetcode solution 113
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0113-path-sum-II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2460 Added the leetcode solution 115
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0115-distinct-subsequence.md
Labels: documentation, GSSOC'24, level1, gssoc

#2466 Feature/add social media links contact page 2371
  src/pages/contact/Contact.module.css
  src/pages/contact/index.tsx
Labels: GSSOC'24, level1, gssoc, javascript

#2441 added solution to problem 0227
  dsa-problems/leetcode-problems/0200-0299.md
  dsa-solutions/lc-solutions/0200-0299/0227-Basic-Calculator-II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2440 add quesno 1704
  dsa-solutions/lc-solutions/1700-1799/1704-Determine-if-String-Halves-Are-Alike.md
Labels: documentation, GSSOC'24, level1, gssoc

#2439 add quesno 1703
  dsa-solutions/lc-solutions/1700-1799/1703-minimum-adjacent-swaps-for-k-consecutive-ones.md
Labels: documentation, GSSOC'24, level1, gssoc

#2438 add quesno 1702
  dsa-solutions/lc-solutions/1700-1799/1702-Maximum-Binary-String-After-Change.md
Labels: documentation, GSSOC'24, level1, gssoc

#2453 Added solution of lc 2900.
  dsa-problems/leetcode-problems/2900-2999.md
  dsa-solutions/lc-solutions/2900-2999/2900-longest-unequal-adjacent-groups-subsequence-i.md
Labels: documentation, GSSOC'24, level1, gssoc

#2468 Solved #2467- Block-Search.md
  dsa-solutions/Searching-Algorithms/Block-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2470 Randomised Algo
  assets/random1.png
  assets/random2.png
  assets/random3.png
  dsa/Advance/Randomised Algorithm.md
Labels: documentation, GSSOC'24, level1, gssoc

#2469 Added solution for lc problem 2625
  dsa-solutions/lc-solutions/2600-2699/2652-sum-multiples.md
Labels: documentation, GSSOC'24, level1, gssoc

#2472 added solution for lc-2556
  dsa-solutions/lc-solutions/2500 - 3000/2556-Disconnect Path in a Binary Matrix by at Most One Flip.md
Labels: documentation, GSSOC'24, level1, gssoc

#2474 Update 02_Pointers_and_Arrays.md
  docs/cpp/06_Pointers_and_References/02_Pointers_and_Arrays.md
Labels: documentation, GSSOC'24, level1, gssoc

#2471 added solution for lc-2557
  dsa-solutions/lc-solutions/2500 - 3000/2557-Maximum Number of Integers to Choose From a Range II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2483 Added Computer Network tutorials
  docs/Computer Networks/_category_.json
  docs/Computer Networks/common_network_protocols.md
  docs/Computer Networks/internet_tcp_ip_model.md
  docs/Computer Networks/intro_to_cn.md
  docs/Computer Networks/ip_addressing.md
  docs/Computer Networks/network_devices.md
  docs/Computer Networks/network_security.md
  docs/Computer Networks/network_topologies.md
  docs/Computer Networks/osi_model.md
  docs/Computer Networks/types-of-networks.md
  docs/Computer Networks/wireless_networking.md
Labels: documentation, GSSOC'24, level1, gssoc

#2479 Added solution of lc 2902
  dsa-problems/leetcode-problems/2900-2999.md
  dsa-solutions/lc-solutions/2900-2999/2902-count-of-sub-multisets-with-bounded-sum.md
Labels: documentation, GSSOC'24, level1, gssoc

#2478 Adds Equilibrium Point
  dsa-solutions/gfg-solutions/Easy problems/equilibrium-point.md
Labels: documentation, GSSOC'24, level1, gssoc

#2477 Adds gfg soln Parenthesis Checker
  dsa-solutions/gfg-solutions/Easy problems/Parenthesis-checker.md
Labels: documentation, GSSOC'24, level1, gssoc

#2476 Adds gfg soln Kth_from_End_of_Linked_List.md
  dsa-solutions/gfg-solutions/Easy problems/Kth_from_End_of_Linked_List.md
Labels: documentation, GSSOC'24, level1, gssoc

#2473 added solution for lc-2555
  dsa-solutions/lc-solutions/2500 - 3000/2555-Maximize Win From Two Segments.md
Labels: documentation, GSSOC'24, level1, gssoc

#2489 Update 03_Character_Arrays.md #2419
  docs/cpp/05_Arrays_and_Strings/03_Character_Arrays.md
Labels: documentation, GSSOC'24, level1, gssoc

#2500 Added lc soln of 2901
  dsa-problems/leetcode-problems/2900-2999.md
  dsa-solutions/lc-solutions/2900-2999/2901-longest-unequal-adjacent-groups-subsequence-ii.md
Labels: documentation, GSSOC'24, level1, gssoc

#2503 Approximation Algorithms
  dsa/Advance/Approximation algorithms.md
Labels: documentation, GSSOC'24, level1, gssoc

#2505 Added solution of lc 2909
  dsa-problems/leetcode-problems/2900-2999.md
  dsa-solutions/lc-solutions/2900-2999/2909-minimum-sum-of-mountain-triplets-ii.md
Labels: documentation, GSSOC'24, level1, gssoc

#2506 Add gfg soln Count-pairs-with-given-sum
  dsa-solutions/gfg-solutions/Easy problems/ount-pairs-with-given-sum.md
Labels: documentation, GSSOC'24, level1, gssoc

#2509 add solution for leetcode problem 855
  dsa-solutions/lc-solutions/0800-0899/0855- Exam-Room.md
Labels: documentation, GSSOC'24, level1, gssoc

#2508 Add gfg soln "Rotate Array"
  dsa-solutions/gfg-solutions/Easy problems/rotate-array.md
Labels: documentation, GSSOC'24, level1, gssoc

#2511 Solved #2510- Quantum-Wave-Search.md
  dsa-solutions/Searching-Algorithms/Quantum-Wave-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2516 Create 0587-Erect-The-Fence.md
  dsa-solutions/lc-solutions/0500-0599/0587-Erect-The-Fence.md
Labels: documentation, GSSOC'24, level1, gssoc

#2518 Added the Solution of K Closest Points to Origin - Issue No - 2490
  dsa-problems/leetcode-problems/0900-0999.md
  dsa-solutions/lc-solutions/0900-0999/973-k-closest-points-to-origin.md
Labels: documentation, GSSOC'24, level1, gssoc

#2522 Update creating-tables.md
  docs/html/tables/creating-tables.md
Labels: documentation, GSSOC'24, level1, gssoc

#2507 Add gfg soln Bfs of Graph
  dsa-solutions/gfg-solutions/Easy problems/BfsOfGraph.md
Labels: documentation, GSSOC'24, level1, gssoc

#2412 added solution to problem no 3162
  dsa-solutions/lc-solutions/3100-3199/3162-Find-the-number-of-good-pairs-1.md
Labels: documentation, GSSOC'24, level1, gssoc

#2537 Add gfg soln Dfs-of-graph.md
  dsa-solutions/gfg-solutions/Easy problems/Dfs-of-graph.md
Labels: documentation, GSSOC'24, level1, gssoc

#2538 Added lc soln of 2999
  dsa-problems/leetcode-problems/2900-2999.md
  dsa-solutions/lc-solutions/2900-2999/2999-count-the-number-of-powerful-integers.md
Labels: documentation, GSSOC'24, level1, gssoc

#2540 Added the leetcode solution 95
  dsa-problems/leetcode-problems/0000-0099.md
  dsa-solutions/lc-solutions/0000-0099/0095-unique-binary-search-tree-II.md
  dsa-solutions/lc-solutions/0000-0099/image-1.png
Labels: documentation, GSSOC'24, level1, gssoc

#2541 Added solution to leetcode 129
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0129-sum-root-to-leaf-numbers.md
Labels: documentation, GSSOC'24, level1, gssoc

#2543 Added leetcode solution 130
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0130-surrounded-regions.md
Labels: documentation, GSSOC'24, level1, gssoc

#2544 Added leetcode solution 131
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0131-palindrom-partitioning.md
Labels: documentation, GSSOC'24, level1, gssoc

#2547 Added lc solution of 2003
  dsa-solutions/lc-solutions/2000-2099/2003-smallest-missing-genetic-value-in-each-subtree.md
Labels: documentation, GSSOC'24, level1, gssoc

#2548 Update elements-and-tags.md
  docs/html/html-basics/elements-and-tags.md
Labels: documentation, GSSOC'24, level1, gssoc

#2542 solution to problem 0526
  dsa-problems/leetcode-problems/0500-0599.md
  dsa-solutions/lc-solutions/0500-0599/0526-Beautiful-Arrangement.md
Labels: documentation, GSSOC'24, level1, gssoc

#2550 Adds gfg soln first-repeating-element
  dsa-solutions/gfg-solutions/Easy problems/first-repeating-element.md
Labels: documentation, GSSOC'24, level1, gssoc

#2552 Added 812 leetcode solution
  dsa-solutions/gfg-solutions/Easy problems/dfs-of-graph.md
  dsa-solutions/lc-solutions/0800-0899/0812-largest-triangle-area.md
Labels: documentation, GSSOC'24, level1, gssoc

#2557 solution to problem 0527
  dsa-problems/leetcode-problems/0500-0599.md
  dsa-solutions/lc-solutions/0500-0599/0527-Word-Abbreviation.md
Labels: documentation, GSSOC'24, level1, gssoc

#2560 Added lc soln of 2004
  dsa-solutions/lc-solutions/2000-2099/2004-number-of-seniors-and-juniors-to-join-the-company.md
Labels: documentation, GSSOC'24, level1, gssoc

#2566 Solved #2563- Skip List Search
  dsa-solutions/Searching-Algorithms/Skip-List-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2568 Quantum-Walk-Search.md
  dsa-solutions/Searching-Algorithms/Quantum-Walk-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2574 add question no 1705
  dsa-solutions/lc-solutions/1700-1799/1705-Maximum-Number-of-Eaten-Apples.md
Labels: documentation, GSSOC'24, level1, gssoc

#2575 add quesno 1706
  dsa-solutions/lc-solutions/1700-1799/1706-Where-Will-the-Ball-Fall.md
Labels: documentation, GSSOC'24, level1, gssoc

#2576 add quesno 1710
  dsa-solutions/lc-solutions/1700-1799/1710-Maximum-Units-on-a-Truck.md
Labels: documentation, GSSOC'24, level1, gssoc

#2577 Update 03_Pointers_and_Functions.md
  docs/cpp/06_Pointers_and_References/03_Pointers_and_Functions.md
Labels: documentation, GSSOC'24, level1, gssoc

#2581 added lc soln 2005
  dsa-solutions/lc-solutions/2000-2099/2005-subtree-removal-game-with-fibonacci-tree.md
Labels: documentation, GSSOC'24, level1, gssoc

#2569 Leetcode 350
  dsa-solutions/lc-solutions/0300-0399/0350-Intersection-of-Two-Arrays-II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2583 [Feature Request]: Implement React Native Tutorials
  docs/React Native/Bridge.md
  docs/React Native/Components.md
  docs/React Native/Debugging.md
  docs/React Native/Introduction.md
  docs/React Native/JSX.md
  docs/React Native/NativeModules.md
  docs/React Native/Styling.md
  docs/React Native/_category_.json
Labels: documentation, GSSOC'24, level1, gssoc

#2365 Adedd a Page Scroll Progress Bar at the Top of Your Startup Webpage
  src/components/HomePage/Header.tsx
  src/components/HomePage/scroll_progress.js
  src/components/HomePage/style.css
Labels: documentation, GSSOC'24, level1, gssoc

#2417 Fixes #2386 Added solution on lc problem 882
  dsa-solutions/lc-solutions/0800-0899/0882-Reachable-Nodes-In-Subdivided-Graph.md
Labels: documentation, GSSOC'24, gssoc, level0

#2586 Adds gfg soln - reverse-linked-list
  dsa-solutions/gfg-solutions/Easy problems/reverse-linked-list.md
Labels: documentation, GSSOC'24, level1, gssoc

#2587 Adds gfg soln - longest-common-prefix
  dsa-solutions/gfg-solutions/Easy problems/longest-common-prefix.md
Labels: documentation, GSSOC'24, level1, gssoc

#2588 Adds gfg soln - find-pair-given-difference
  dsa-solutions/gfg-solutions/Easy problems/find-pair-given-difference.md
Labels: documentation, GSSOC'24, level1, gssoc

#2601 Added Leetcode solution 1550
  dsa-solutions/lc-solutions/1500-1599/1550-Three-Consecutive-Odds.md
Labels: documentation, GSSOC'24, level1, gssoc

#2602 Hover effects scale and shadow added on cards
  src/components/HomePage/Community/LandingCommunity.css
Labels: GSSOC'24, level1, gssoc

#2613 Documentation on Linux Development added
  blog/Introduction to the Linux development and Cyber security
Labels: documentation, GSSOC'24, level1, gssoc

#2618 Python Interview Question
  docs/python/Interview ques/Advance.md
  docs/python/Interview ques/Basic.md
  docs/python/Interview ques/Intermediate.md
  docs/python/Interview ques/_category_.json
Labels: documentation, GSSOC'24, level1, gssoc

#2606 added solution to problem no 2367
  dsa-solutions/lc-solutions/2300-2399/2367-number-of-arithmetic-triplets.md
Labels: documentation, GSSOC'24, level1, gssoc

#2621 added solution for leetcode-2559
  dsa-solutions/lc-solutions/2500 - 3000/2559-Count Vowel Strings in Ranges.md
Labels: documentation, GSSOC'24, level1, gssoc

#2591 Added lc soln of 2001
  dsa-solutions/lc-solutions/2000-2099/2001-number-of-pairs-of-interchangeable-rectangles.md
Labels: documentation, GSSOC'24, level1, gssoc

#2616 FAQ section with boxed accordion
  package-lock.json
  package.json
  src/pages/Faq/FaqPage.css
  src/pages/Faq/index.tsx
  src/pages/index.tsx
  src/pages/output.css
Labels: good first issue, GSSOC'24, level2, gssoc, javascript

#2622 added solution for lc-2560
  dsa-solutions/lc-solutions/2500 - 3000/2560-House Robber IV.md
Labels: documentation, GSSOC'24, level1, gssoc

#2625 added solution for lc-2561
  dsa-solutions/lc-solutions/2500-2599/2561-Rearranging Fruits.md
Labels: documentation, GSSOC'24, level1, gssoc

#2632 pandas data frame
  docs/Pandas/image-2.png
  docs/Pandas/pandas-dataframe.md
Labels: documentation, GSSOC'24, level1, gssoc

#2634 added lc soln of 2020
  dsa-solutions/lc-solutions/2000-2099/2020-number-of-accounts-that-did-not-stream.md
Labels: documentation, GSSOC'24, level1, gssoc

#2635 Added Solution to Leetcode 2582
  dsa-solutions/lc-solutions/2500-2599/2582-Pass-The-Pillow.md
Labels: documentation, GSSOC'24, level1, gssoc

#2629 Added Solution of Dijkastra using set
  dsa-solutions/lc-solutions/0300-0399/0326-power-of-three.md
  dsa/Algorithms/Graph Algorithms/01-Dijkstra's Algorithm.md
Labels: documentation, GSSOC'24, level1, gssoc

#2636 added lc soln of 2021
  dsa-solutions/lc-solutions/2000-2099/2021-brightest-position-on-street.md
Labels: documentation, GSSOC'24, level1, gssoc

#2598 Solved #2592- Fractal Search
  dsa-solutions/Searching-Algorithms/Fractal-Search.md
Labels: documentation, GSSOC'24, level1, gssoc

#2655 Added Othello Game in Showcase
  src/data/showcase/Othello.png
  src/data/userData.tsx
Labels: GSSOC'24, level1, gssoc, Showcase Addition Request, javascript

#2640 added lc soln of 2024
  dsa-solutions/lc-solutions/2000-2099/2024-maximize-the-confusion-of-an-exam.md
Labels: documentation, GSSOC'24, level1, gssoc

#2642 Create Read-files.md
  docs/Pandas/Read-files.md
Labels: documentation, GSSOC'24, level1, gssoc

#2643 Added leetcode solution 132
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0132-palindrom-partitioning-II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2644 Create 0166-fraction-to-recurring-decimal.md
  dsa-solutions/lc-solutions/0100-0199/0166-fraction-to-recurring-decimal.md
Labels: documentation, GSSOC'24, level1, gssoc

#2648 Add Organization Section Added
  package-lock.json
  package.json
  src/components/HomePage/organizations/OrganizationSection.css
  src/components/HomePage/organizations/OrganizationSection.tsx
  src/pages/index.tsx
Labels: good first issue, GSSOC'24, level2, gssoc, javascript

#2647 Fixed leetcode solution 137
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0137-single-number-2.md
Labels: bug, documentation, GSSOC'24, level1, gssoc

#2645 Added the lc solution 133
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0133-clone-graph.md
Labels: documentation, GSSOC'24, level1, gssoc

#2656 Added The Basics of Exceptions in C++
  docs/cpp/08_Exception_Handling/01_Exception_Basics.md
  docs/python/Interview ques/Basic.md
  package-lock.json
Labels: documentation, GSSOC'24, level1, gssoc

#2670 Create css.md
  web-dev/CSS/css.md
Labels: documentation, GSSOC'24, level1, gssoc

#2677 Added lc solution of 2006
  dsa-solutions/lc-solutions/2000-2099/2006-count-number-of-pairs-with-absolute-difference-k.md
Labels: documentation, GSSOC'24, level1, gssoc

#2678 added lc soln of 2007
  dsa-solutions/lc-solutions/2000-2099/2007-find-original-array-from-doubled-array.md
Labels: documentation, GSSOC'24, level1, gssoc

#2679 added lc soln of 2008
  dsa-solutions/lc-solutions/2000-2099/2008-maximum-earnings-from-taxi.md
Labels: documentation, GSSOC'24, level1, gssoc

#2671 sol added to leetcode problem no 2200
  dsa-solutions/lc-solutions/2200-2299/2200-Find All K-Distant Indices in an Array.md
Labels: documentation, GSSOC'24, level1, gssoc

#2646 Added solution to leetcode 134
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0134-gas-station.md
Labels: documentation, GSSOC'24, level1, gssoc

#2682 Added the solution of leecode 124
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0124-binary-tree-path-sum.md
  package-lock.json
Labels: documentation, GSSOC'24, level1, gssoc

#2684 Added the solution of leetcode 147
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0147-insertion-sort-list.md
Labels: documentation, GSSOC'24, level1, gssoc

#2689 add ques 1711
  dsa-solutions/lc-solutions/1700-1799/1711-count-good-meals.md
Labels: documentation, GSSOC'24, level1, gssoc

#2690 add quesno 1712
  dsa-solutions/lc-solutions/1700-1799/1712-ways-to-split-array-into-three-subarrays.md
Labels: documentation, GSSOC'24, level1, gssoc

#2691 add quesno 1713
  dsa-solutions/lc-solutions/1700-1799/1713-Minimum-Operations-to-Make-a-Subsequence.md
Labels: documentation, GSSOC'24, level1, gssoc

#2683 Added solution leetcode 146
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0146-lru-cache.md
Labels: documentation, GSSOC'24, level1, gssoc

#2693 [Feature]: Add the Ruby Lanugage
  docs/Ruby/BlocksAndProcs.md
  docs/Ruby/CommunityAndRails.md
  docs/Ruby/DynamicTyping.md
  docs/Ruby/GarbageCollection.md
  docs/Ruby/Introduction.md
  docs/Ruby/LibrariesAndGems.md
  docs/Ruby/Metaprogramming.md
  docs/Ruby/MixinsAndINheritance.md
  docs/Ruby/ObjectOriented.md
  docs/Ruby/_category_.json
Labels: documentation, GSSOC'24, level2, gssoc

#2699 Learners Roadmap for Advanced Tech Learning Paths Added
  src/components/Roadmap/Roadmap.css
  src/components/Roadmap/index.tsx
Labels: enhancement, GSSOC'24, level2, gssoc, javascript

#2698 added lc soln of 2009
  dsa-solutions/lc-solutions/2000-2099/2009-minimum-number-of-operations-to-make-array-continuous.md
Labels: documentation, GSSOC'24, level1, gssoc

#2718 Fixed sidebar positions in tutorial
  docs/C/_category_.json
  docs/CSS/_category_.json
  docs/Computer Networks/_category_.json
  docs/DBMS/_category.json
  docs/Deep Learning/_category.json
  docs/Django/_category_.json
  docs/Julia/_category_.json
  docs/Linux/_category_.json
  docs/MongoDB/_category.json
  docs/NextJs/_category_.json
  docs/Operating System/_category_.json
  docs/PHP/_category.json
  docs/Pandas/_category_.json
  docs/React Native/_category_.json
  docs/SQL/_category_.json
  docs/ViewEngine/_category_.json
  docs/Vue.js/_category_.json
  docs/WebSocket/_category_.json
  docs/cpp/_category_.json
  docs/dsa/_category_.json
  docs/html/_category_.json
  docs/java/_category_.json
  docs/javascript/_category_.json
  docs/python/_category_.json
  docs/react/_category_.json
  docs/tailwind/_category_.json
  docs/typescript/_category_.json
Labels: GSSOC'24, level1, gssoc

#2708 [Feature]: Add the GO Language
  docs/Go/Concurrency.md
  docs/Go/ErrorHandling.md
  docs/Go/FunctionsAsFirst-ClassCitizens.md
  docs/Go/GarbageCollection.md
  docs/Go/Introduction.md
  docs/Go/PackagesAndImports.md
  docs/Go/StructsAndMethods.md
  docs/Go/Tooling.md
  docs/Go/TypesandInterfaces.md
  docs/Go/_category_.json
Labels: documentation, GSSOC'24, level1, gssoc

#2715 added lc soln of 2010
  dsa-solutions/lc-solutions/2000-2099/2010-number-of-seniors-and-juniors-to-join-the-company-ii.md
  dsa-solutions/lc-solutions/2000-2099/2022-convert-1d-array-into-2d-array.md
Labels: documentation, GSSOC'24, level1, gssoc

#2720 Hover effects added on cards
  src/components/HomePage/organizations/style.css
Labels: GSSOC'24, level1, gssoc

#2726 Added lc soln of 2022-convert-1d-array-into-2d-array
  dsa-solutions/lc-solutions/2000-2099/2022-convert-1d-array-into-2d-array.md
Labels: documentation, GSSOC'24, level1, gssoc

#2730 added solution to 2114
  dsa-solutions/lc-solutions/2100-2199/2114-maximum-number-of-words-found-in-sentences.md
Labels: documentation, GSSOC'24, level1, gssoc

#2734 added lc soln of 2023
  dsa-solutions/lc-solutions/2000-2099/2023-number-of-pairs-of-strings-with-concatenation-equal-to-target.md
Labels: documentation, GSSOC'24, level1, gssoc

#2705 3152 sol added
  dsa-solutions/lc-solutions/3100-3199/3152- Special-Array-II.md
Labels: documentation, GSSOC'24, level1, gssoc

#2736 [Feature]: Add new Swift language
  docs/Swift/Concurrency.md
  docs/Swift/ControlFlow.md
  docs/Swift/ErrorHandling.md
  docs/Swift/FunctionsAndClosures.md
  docs/Swift/Introduction.md
  docs/Swift/MemoryManagement.md
  docs/Swift/Object-OrientedProgramming.md
  docs/Swift/Optionals.md
  docs/Swift/VariablesAndConstants.md
  docs/Swift/_category_.json
Labels: documentation, GSSOC'24, level1, gssoc

#2740 added soluton for leetcode problem no 507
  dsa-solutions/lc-solutions/0500-0599/0507-perfect-number.md
Labels: documentation, GSSOC'24, level1, gssoc

#2741 Added Further Resources for Learning Python
  docs/python/resource.md
Labels: documentation, GSSOC'24, level1, gssoc

#2744 added solution for leetcode problem 858
  dsa-solutions/lc-solutions/0800-0899/0858- Mirror-Reflection.md
Labels: documentation, GSSOC'24, level1, gssoc

#2745 Added the Solution of Maximum Length of Subarray With Positive Product - Issue No - 2545
  dsa-problems/leetcode-problems/1500-1599.md
  dsa-solutions/lc-solutions/1500-1599/1567-maximum-length-of-subarray-with-positive-product.md
Labels: documentation, GSSOC'24, level1, gssoc

#2750 add quesno 1716
  dsa-solutions/lc-solutions/1700-1799/1716-Calculate-Money-in-Leetcode-Bank.md
Labels: documentation, GSSOC'24, level1, gssoc

#2680 Added blog on Mastering Data Structures in Python
  blog/Mastering Data Structures in Python.md
  blog/authors.yml
Labels: documentation, GSSOC'24, level1, gssoc

#2739 added solution to 392
  dsa-solutions/lc-solutions/0300-0399/0392-is-subsequence.md
Labels: documentation, GSSOC'24, level1, gssoc

#2729 Added Leetcode-0168
  dsa-solutions/lc-solutions/0100-0199/0168-Excel-sheet-column-title.md
Labels: documentation, GSSOC'24, level1, gssoc

#2770 [Feature Request]: Solution for leetcode problem 901 added
  dsa-solutions/lc-solutions/0900-0999/0901-stock-spanner.md
Labels: documentation, GSSOC'24, level1, gssoc
