Repository codeharborhub/codeharborhub.github.io, pull requests merged in 2024-06, with the labels that each got.

#329 Added GFG section under DSA problems
  dsa-problems/gfg-problems/basic/problems.md
  dsa-problems/gfg-problems/easy/problems.md
  dsa-problems/gfg-problems/hard/problems.md
  dsa-problems/gfg-problems/medium/problems.md
  dsa-problems/index.md
Labels: documentation, GSSOC'24, level3, gssoc

#327 2D Array Blog Post
  docs/dsa/arrays/2d-arrays.md
Labels: documentation, GSSOC'24, level2, gssoc

#314 Added CSS in docs
  docs/CSS/css-basics/Selectors.md
  docs/CSS/css-basics/basic-syntax.md
  docs/CSS/css-basics/readme.md
  docs/CSS/readme.md
Labels: documentation, GSSOC'24, level2, gssoc

#331 Debug and added new codes & Features
  docs/cpp/_category_.json
  docusaurus.config.js
  sidebars.js
  src/components/HomePage/home.module.css
  static/icons/ai-chat.svg
  static/icons/bootstrap-logo.svg
  static/icons/c#.svg
  static/icons/c.svg
  static/icons/cpp.svg
  static/icons/git.svg
  static/icons/github.svg
  static/icons/jquery.svg
  static/icons/mongodb.svg
  static/icons/mysql.svg
  static/icons/node-js.svg
  static/icons/php.svg
  static/icons/r.svg
  static/icons/tailwind-css.svg
  static/icons/tailwind.png
Labels: enhancement, GSSOC'24, level3, gssoc

#332 Leetcode Solution 4 to 10 added
  dsa-solutions/lc-solutions/0000-0099/0004-Median-of-two-Sorted-Array.md
  dsa-solutions/lc-solutions/0000-0099/0005-Longest-palindrome-substring.md
  dsa-solutions/lc-solutions/0000-0099/0006-ZigZag-Conversion.md
  dsa-solutions/lc-solutions/0000-0099/0007-Reverse-Integers.md
  dsa-solutions/lc-solutions/0000-0099/0008-String-to-Integer.md
  dsa-solutions/lc-solutions/0000-0099/0009-Palindrome-number.md
  dsa-solutions/lc-solutions/0000-0099/0010-Regular-Expression-Matching.md
Labels: documentation, GSSOC'24, level3, gssoc

#335 C++ STL Blog Posts
  dsa/intermediate/Graph_traversal.md
  dsa/intermediate/_category_.json
  dsa/intermediate/binary_tree.md
  dsa/intermediate/cpp_stl/_category_.json
  dsa/intermediate/cpp_stl/cpp_find.md
  dsa/intermediate/cpp_stl/cpp_functor.md
  dsa/intermediate/cpp_stl/cpp_iterators.md
  dsa/intermediate/cpp_stl/cpp_lists.md
  dsa/intermediate/cpp_stl/cpp_sets.md
  dsa/intermediate/cpp_stl/cpp_sort.md
  dsa/intermediate/cpp_stl/cpp_stl_basics.md
  dsa/intermediate/cpp_stl/cpp_vectors.md
Labels: documentation, GSSOC'24, level3, gssoc

#336 Update contets of Add Two Numbers Solution and others
  dsa-solutions/lc-solutions/0000-0099/0001-two-sum.md
  dsa-solutions/lc-solutions/0000-0099/0002-Add-Two-Numbers.md
Labels: documentation, enhancement, GSSOC'24, level3, gssoc

#338 Redux toolkit tutorial added
  courses/react-js/advanced-level/redux-toolkit/_category_.json
  courses/react-js/advanced-level/redux-toolkit/lesson_1.md
  courses/react-js/advanced-level/redux-toolkit/lesson_2.md
  courses/react-js/advanced-level/redux-toolkit/lesson_3.md
Labels: documentation, GSSOC'24, level3, gssoc

#340 Update renovate.json
  renovate.json
Labels: GSSOC'24, level1, gssoc

#342 Leetcode solution 11 to 16 added
  dsa-solutions/lc-solutions/0000-0099/0011-Container-with-most-water.md
  dsa-solutions/lc-solutions/0000-0099/0012-integer-to-roman.md
  dsa-solutions/lc-solutions/0000-0099/0013-roman-to-integer.md
  dsa-solutions/lc-solutions/0000-0099/0014-longest-comman-prefix.md
  dsa-solutions/lc-solutions/0000-0099/0015-3sum.md
  dsa-solutions/lc-solutions/0000-0099/0016-3sum-closest.md
Labels: documentation, GSSOC'24, level2, gssoc

#344 [Geeks for Geeks Solution]: Value Equal to Index Value
  dsa-solutions/gfg-solutions/0001-value-equal-to-index-value.md
  dsa-solutions/gfg-solutions/_category_.json
Labels: documentation, GSSOC'24, level2, gssoc

#350 [Geeks for Geeks Solution]: Fascinating Number
  dsa-solutions/gfg-solutions/0001-value-equal-to-index-value.md
  dsa-solutions/gfg-solutions/0002-fascinating-number.md
Labels: documentation, enhancement, GSSOC'24, level3, gssoc

#351 update code for Longest Substring Without Repeating Characters (LeetC…
  dsa-solutions/lc-solutions/0000-0099/0002-Add-Two-Numbers.md
  dsa-solutions/lc-solutions/0000-0099/0003-Longest-Substring-Without-Repeating-Characters.md
Labels: documentation, enhancement, GSSOC'24, level3, gssoc

#358 Update Median of Two Sorted Arrays(Leetcode)
  dsa-solutions/lc-solutions/0000-0099/0004-Median-of-two-Sorted-Array.md
Labels: documentation, enhancement, GSSOC'24, level3, gssoc

#352 javascript docs addded
  docs/javascript/Client-side-Frameworks.md
  docs/javascript/array-methods.md
  docs/javascript/do-while.md
  docs/javascript/object-constructor.md
  docs/javascript/web-apis.md
Labels: documentation, GSSOC'24, level3, gssoc

#354 Fade scroll animations added.
  package-lock.json
  package.json
  src/components/Aboutpage/index.tsx
  src/components/HomePage/Header.tsx
  src/pages/contact/index.tsx
  src/pages/index.tsx
  src/pages/showcase/index.tsx
Labels: enhancement, GSSOC'24, level2, gssoc

#361 update layout with framer-motion
  src/components/HomePage/Header.tsx
  src/pages/index.tsx
Labels: bug, enhancement, GSSOC'24, level2, gssoc

#363 kadane's Algorithm Solution added
  dsa-solutions/gfg-solutions/0003-kadane's-algorithm.md
Labels: documentation, GSSOC'24, level2, gssoc

#367 Update README.md for Contributors badges
  README.md
Labels: GSSOC'24, level1, gssoc

#368 scroll bottom button #365
  src/components/HomePage/header.css
  src/pages/index.module.css
  src/pages/index.tsx
Labels: enhancement, GSSOC'24, level2, gssoc

#362 Fix Changes in Scrollbar
  package-lock.json
  package.json
  src/pages/index.module.css
Labels: enhancement, GSSOC'24, level2, gssoc

#375 Create Colors-and-Backgrounds.md
  docs/CSS/css-basics/Colors-and-Backgrounds.md
Labels: documentation, GSSOC'24, level2, gssoc

#371 Typograpghy
  docs/CSS/css-basics/Typography.md
Labels: documentation, GSSOC'24, level2, gssoc

#360 NextJs docs has been added
  docs/NextJs/_category_.json
  docs/NextJs/emty.png
  docs/NextJs/index.md
Labels: documentation, GSSOC'24, level2, gssoc

#378 Added leetcode solution Generate parentheses
  dsa-solutions/lc-solutions/0000-0099/0022-Generate-parentheses.md
Labels: documentation, GSSOC'24, level3, gssoc

#383 Added pascal Triangle solution
  dsa-solutions/gfg-solutions/0005-Pascal-Triangle.md
Labels: documentation, GSSOC'24, level3, gssoc

#395 Fibbonacci sum solution added
  dsa-solutions/gfg-solutions/0004-fibbonacci-sum.md
  package-lock.json
  package.json
Labels: documentation, GSSOC'24, level2, gssoc

#396 Create 0001-0100.md
  dsa-problems/gfg-problems/basic/0001-0100.md
Labels: documentation, GSSOC'24, level2, gssoc

#430 Added Two-repeated-Element solution
  dsa-solutions/gfg-solutions/0009-Two-repeated-elements.md
Labels: documentation, GSSOC'24, level3, gssoc

#431 Solution next happy number added
  dsa-solutions/gfg-solutions/0004-fibbonacci-sum.md
  dsa-solutions/gfg-solutions/0006-next-happy-number.md
Labels: documentation, GSSOC'24, level2, gssoc

#400 Solution next happy number added
  dsa-solutions/gfg-solutions/0004-fibbonacci-sum.md
  dsa-solutions/gfg-solutions/0006-next-happy-number.md
Labels: documentation, GSSOC'24, level2, gssoc

#402 Add a Solution for Removing Duplicates from Sorted Array (LeetCode Problem 26)
  dsa-solutions/lc-solutions/0000-0099/0026-Remove-Duplicates-from-Sorted-Array.md
Labels: documentation, GSSOC'24, level2, gssoc

#447 All easy questions of gfg
  dsa-problems/gfg-problems/easy/0001-0100.md
Labels: documentation, GSSOC'24, level2, gssoc

#449 Create 0001-0100.md for medium gfg problem
  dsa-problems/gfg-problems/medium/0001-0100.md
Labels: documentation, GSSOC'24, level2, gssoc

#489 Create Box-Model.md
  docs/CSS/css-basics/Box-Model.md
Labels: documentation, GSSOC'24, level2, gssoc

#461 Create 0001-0100.md
  dsa-problems/gfg-problems/hard/0001-0100.md
Labels: documentation, GSSOC'24, level2, gssoc

#462 Added 0101-0200.md
  dsa-problems/gfg-problems/basic/0001-0100.md
  dsa-problems/gfg-problems/basic/0101-0200.md
Labels: documentation, GSSOC'24, level2, gssoc

#463 Create 0101-0200.md
  dsa-problems/gfg-problems/easy/0101-0200.md
Labels: documentation, GSSOC'24, level2, gssoc

#464 Create 0101-0200.md
  dsa-problems/gfg-problems/medium/0101-0200.md
Labels: documentation, GSSOC'24, level2, gssoc

#492 Create 0201-0300.md medium questions of gfg
  dsa-problems/gfg-problems/medium/0201-0300.md
Labels: documentation, GSSOC'24, level2, gssoc

#491 Create 0101-0200.md hard question of gfg
  dsa-problems/gfg-problems/hard/0101-0200.md
Labels: documentation, GSSOC'24, level2, gssoc

#490 Best Time to buy and sell stock solution added
  dsa-solutions/lc-solutions/0100-0199/0121-best-time-to-buy-sell-stock.md
Labels: documentation, GSSOC'24, level3, gssoc

#493 Create 0201-0300.md easy question of gfg
  dsa-problems/gfg-problems/easy/0201-0300.md
Labels: documentation, GSSOC'24, level2, gssoc

#496 Create 0201-0300.md gfg basic questions
  dsa-problems/gfg-problems/basic/0201-0300.md
Labels: documentation, GSSOC'24, level1, gssoc

#494 Added solution for Count-the-subarrays-having-product-less-than-k
  dsa-solutions/gfg-solutions/0003-Count-the-subarrays-having-product-less-than-k.md
Labels: documentation, GSSOC'24, level2, gssoc

#498 Create 0301-0400.md gfg basic questions
  dsa-problems/gfg-problems/basic/0301-0400.md
Labels: documentation, GSSOC'24, level1, gssoc

#499 Added Matchstick-games
  dsa-solutions/gfg-solutions/0001-Matchstick-Game.md
Labels: documentation, GSSOC'24, level2, gssoc

#501 Add a Solution for Remove Element (LeetCode Problem 27)
  dsa-solutions/lc-solutions/0000-0099/0027-Remove-Element.md
Labels: documentation, GSSOC'24, level2, gssoc

#500 Fixes #454 Python for beginners course
  docs/python/_category_.json
  src/data/courses/index.tsx
  src/database/courses/index.tsx
Labels: enhancement, GSSOC'24, level2, gssoc

#504 Symmetric tree solution
  dsa-solutions/lc-solutions/0100-0199/0100-same-tree.md
  dsa-solutions/lc-solutions/0100-0199/0101-symmetric-tree.md
Labels: documentation, GSSOC'24, level2, gssoc

#505 Add a Solution for Find the Index of the First Occurrence in a String (LeetCode Problem 28)
  dsa-solutions/lc-solutions/0000-0099/0028-find-first-occurrence-in-string.md
Labels: documentation, GSSOC'24, level2, gssoc

#512 Add: Resources Section
  package-lock.json
  package.json
  src/components/HomePage/ResourcesSection.tsx
  src/components/HomePage/header.css
  src/components/HomePage/home.module.css
  src/components/HomePage/style.css
  src/pages/index.module.css
  src/pages/index.tsx
  static/img/resources/blogs.jpg
  static/img/resources/courses.jpg
  static/img/resources/dsa.jpg
  static/img/resources/projects.jpg
  static/img/resources/tutorials.jpg
Labels: enhancement

#527 Remove Duplicates from sorted list solution added
  dsa-solutions/lc-solutions/0000-0099/0083-remove-duplicates-from-sorted-list.md
  dsa-solutions/lc-solutions/0100-0199/0102-binary-tree-level-order-traversal.md
  dsa-solutions/lc-solutions/0100-0199/0104-maximum-depth-of-binary-tree.md
  dsa-solutions/lc-solutions/0100-0199/0110-balanced-binary-tree.md
  dsa-solutions/lc-solutions/0100-0199/0125-valid-palindrome.md
Labels: documentation, GSSOC'24, level2, gssoc

#513 Add a Solution for Length of Last Word (LeetCode Problem 58)
  dsa-solutions/lc-solutions/0000-0099/0058-length-of-last-word.md
Labels: documentation, GSSOC'24, level1, gssoc

#502 4 section added in css
  docs/CSS/css-borders.md
  docs/CSS/css-margins.md
  docs/CSS/css-outline.md
  docs/CSS/css-padding.md
Labels: documentation, GSSOC'24, level2, gssoc

#515 Add a Solution for plus one (LeetCode Problem 66)
  dsa-solutions/lc-solutions/0000-0099/0066-plus-one.md
Labels: documentation, GSSOC'24, level1, gssoc

#507 Add a Solution for Search Insert Position (LeetCode Problem 35)
  dsa-solutions/lc-solutions/0000-0099/0035-search-insert-position.md
Labels: documentation, GSSOC'24, level2, gssoc

#509 [Geeks for Geeks Solution]: At least two greater elements
  dsa-solutions/gfg-solutions/0002-fascinating-number.md
  dsa-solutions/gfg-solutions/0003-at-least-two-greater-elements.md
Labels: documentation, GSSOC'24, level2, gssoc

#510 Add a Solution for Count and Say (LeetCode Problem 38)
  dsa-solutions/lc-solutions/0000-0099/0038-Count-And-Say.md
Labels: documentation, GSSOC'24, level1, gssoc

#511 Add a Solution for Maximum Subarray (LeetCode Problem 53)
  dsa-solutions/lc-solutions/0000-0099/0053-Maximum-Subarray.md
Labels: documentation, GSSOC'24, level1, gssoc

#517 Add a Solution for Add Binary (LeetCode Problem 67)
  dsa-solutions/lc-solutions/0000-0099/0067-Add-Binary.md
Labels: documentation, GSSOC'24, level1

#521 Add a Solution for Climbing Stairs (LeetCode Problem 70)
  dsa-solutions/lc-solutions/0000-0099/0070-Climbing-Stairs.md
Labels: documentation, GSSOC'24, level1, gssoc

#519 Add a Solution for Sqrt(x) (LeetCode Problem 69)
  dsa-solutions/lc-solutions/0000-0099/0069-SqrtX.md
Labels: documentation, GSSOC'24, level1, gssoc

#523 thymeleaf tutorial added
  docs/java/Thymeleaf-in-java/Iteration-and-evalution.md
  docs/java/Thymeleaf-in-java/_category_.json
  docs/java/Thymeleaf-in-java/introduction-to-thymeleaf.md
  docs/java/Thymeleaf-in-java/syntax-in-thymleaf.md
Labels: documentation, GSSOC'24, level2, gssoc

#535 Added kth missing number solution
  dsa-solutions/lc-solutions/1500-1599/1539-kth-missing-number.md
Labels: documentation, GSSOC'24, level2, gssoc

#538 paths to reach origin solution added
  dsa-solutions/gfg-solutions/0010-paths-to-reach-origin.md
  package-lock.json
  package.json
Labels: documentation, GSSOC'24, level2, gssoc

#539 Climbing stair solution added
  dsa-solutions/gfg-solutions/0020-climbing-stairs.md
Labels: documentation, GSSOC'24, level2, gssoc

#542 Create Hash-table.md
  dsa/intermediate/Hash-table.md
Labels: documentation, GSSOC'24, level1, gssoc

#536 Added Easy problem solution GFG
  dsa-problems/gfg-problems/easy/problems.md
  dsa-solutions/gfg-solutions/problems/BFS-traversal-of-graph.md
  dsa-solutions/gfg-solutions/problems/Check-for-balanced-tree.md
  dsa-solutions/gfg-solutions/problems/DFS-traversal-of-graph.md
  dsa-solutions/gfg-solutions/problems/Delete-middle-of-linked-list.md
  dsa-solutions/gfg-solutions/problems/Delete-without-head-pointer.md
  dsa-solutions/gfg-solutions/problems/Implement-two-stacks-in-an-array.md
  dsa-solutions/gfg-solutions/problems/Intersection-of-two-sorted-linked-lists.md
  dsa-solutions/gfg-solutions/problems/Reverse-a-doubly-linked-list.md
  dsa-solutions/gfg-solutions/problems/Reverse-a-linked-list.md
  dsa-solutions/gfg-solutions/problems/Square-root.md
  dsa-solutions/gfg-solutions/problems/_category_.json
Labels: documentation, GSSOC'24, level2, gssoc

#546 Added Shuffle String Solution
  dsa-solutions/lc-solutions/1500-1599/1528-Shuffle-String.md
Labels: documentation, GSSOC'24, level2, gssoc

#545 Added Count Good Triplets
  dsa-solutions/lc-solutions/1500-1599/1534-Count-good-triplets.md
Labels: documentation, GSSOC'24, level2, gssoc

#547 Lemonade change solution added
  dsa-solutions/gfg-solutions/0022-lemonade-change.md
Labels: documentation, GSSOC'24, level2, gssoc

#549 python docs section added
  docs/python/Data-types.md
  docs/python/Strings.md
  docs/python/conditional.md
  docs/python/loops.md
Labels: documentation, GSSOC'24, level2, gssoc

#550 Find triplet with zero sum solution added
  dsa-solutions/gfg-solutions/0023-Find-triplet-with-zero-sum.md
Labels: documentation, GSSOC'24, level2, gssoc

#575 Added Water Bottles Solution
  dsa-solutions/lc-solutions/1500-1599/1518-Water-Bottles.md
Labels: documentation, GSSOC'24, level2, gssoc

#584 chore: Add new courses for absolute beginners in various categories
  src/data/courses/index.tsx
Labels: documentation, enhancement, GSSOC'24, level1, gssoc

#548 added hover effect for user reviews
  src/pages/index.module.css
  src/pages/index.tsx
Labels: enhancement, GSSOC'24, level1, gssoc

#556 Add a Solution for Swap Nodes in Pairs (LeetCode Problem 24)
  dsa-solutions/lc-solutions/0000-0099/0024-swap-nodes-in-pairs.md
Labels: documentation, GSSOC'24, level2, gssoc

#570 All easy gfg solution added
  dsa-solutions/gfg-solutions/0023-Find-triplet-with-zero-sum.md
  dsa-solutions/gfg-solutions/0024-minimum-indexed-character.md
  dsa-solutions/gfg-solutions/Easy problems/bfs-of-graph.md
  dsa-solutions/gfg-solutions/Easy problems/check-for-balanced-tree.md
  dsa-solutions/gfg-solutions/Easy problems/delete-middle-of-linked-list.md
  dsa-solutions/gfg-solutions/Easy problems/delete-without-head-pointer.md
  dsa-solutions/gfg-solutions/Easy problems/dfs-of-graph.md
  dsa-solutions/gfg-solutions/Easy problems/implement-two-stacks-in-an-array.md
  dsa-solutions/gfg-solutions/Easy problems/intersection-of-two-sorted-linked-lists.md
  dsa-solutions/gfg-solutions/Easy problems/reverse-a-doubly-linked-list.md
  dsa-solutions/gfg-solutions/Easy problems/reverse-a-linked-list.md
  dsa-solutions/gfg-solutions/Easy problems/square-root.md
Labels: documentation, GSSOC'24, level2, gssoc

#593 Graphs added in DSA section
  dsa/beginner/06-graphs.md
  dsa/beginner/images/graphs1.png
  dsa/beginner/images/graphs2.png
  dsa/beginner/images/graphs3.png
  dsa/beginner/images/graphs4.png
Labels: documentation, GSSOC'24, level2, gssoc

#586 Create Layout-ResponsiveDesign.md
  docs/CSS/css-basics/Layout-ResponsiveDesign.md
Labels: documentation, GSSOC'24, level2, gssoc

#608 Create 0401-0500.md
  dsa-problems/gfg-problems/basic/0401-0500.md
Labels: documentation, GSSOC'24, level1, gssoc

#565 minimum number od jumps solution added
  dsa-solutions/gfg-solutions/0022-minimum-number-of-jumps.md
Labels: documentation, GSSOC'24, level2, gssoc

#558 Add a Solution for Next Permutation (LeetCode Problem 31)
  dsa-solutions/lc-solutions/0000-0099/0031-next-permutation.md
Labels: documentation, GSSOC'24, level2, gssoc

#557 Add a Solution for Divide Two Integers (LeetCode Problem 29)
  dsa-solutions/lc-solutions/0000-0099/0029-divide-two-integers.md
Labels: documentation, GSSOC'24, level1, gssoc

#590 oop java updated
  docs/java/object-oriented-programming/inheritance-and-polymorphism.md
Labels: documentation, GSSOC'24, level1, gssoc

#581 Solving issue #457 adding Leetcode 0048-Rotate-Image
  dsa-solutions/lc-solutions/0000-0099/0048-Rotate-Image.md
Labels: GSSOC'24, level2, gssoc

#594 Added Solution for Last Moment Before All Ants Fall Out of a Plank
  dsa-solutions/lc-solutions/1500-1599/1503-Last Moment Before All Ants Fall Out of a Plank.md
Labels: documentation, GSSOC'24, level2, gssoc

#598 NextJs added
  docusaurus.config.js
  static/icons/next-js.svg
Labels: documentation, enhancement, GSSOC'24, level1, gssoc

#595 Added solution for Find root of N-ary Tree
  dsa-solutions/lc-solutions/1500-1599/1506-Find-Root-Of-N-Ary-Tree.md
Labels: documentation, GSSOC'24, level2, gssoc

#596 stack and queue hard topics docs added
  dsa/beginner/06-deque.md
  dsa/intermediate/monotonic-stack.md
  dsa/intermediate/priority-queue.md
Labels: documentation, GSSOC'24, level3, gssoc

#597 Added solution for Range Sum of Sorted Subarray Sums
  dsa-solutions/lc-solutions/1500-1599/1508-Range Sum of Sorted Subarray Sums.md
Labels: documentation, GSSOC'24, level2, gssoc

#600 Create OOPs.md
  docs/python/OOPs.md
Labels: documentation, GSSOC'24, level2, gssoc

#603 pyhton docs section added
  docs/python/json.md
  docs/python/math-in-python.md
  docs/python/pip.md
Labels: documentation, GSSOC'24, level2, gssoc

#602 dijkstra algo added
  dsa/Algorithms/_category_.json
  dsa/Algorithms/dijkstra.md
Labels: documentation, GSSOC'24, level2, gssoc

#618 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement, GSSOC'24, level1, gssoc

#613 Add a Solution for Search in Rotated Sorted Arrayy (LeetCode Problem 33)
  dsa-solutions/lc-solutions/0000-0099/0033-search-in-rotated-sorted-array.md
Labels: documentation, GSSOC'24, level2, gssoc

#632 #Issue611 solved
  src/data/showcase/calculator-app.png
  src/data/users.tsx
Labels: GSSOC'24, level2, gssoc

#615 Python docs about File Handling added
  docs/cpp/03_Control_Flow/01_Conditional_Statements.md
  docs/cpp/03_Control_Flow/02_Loops_in_Cpp.md
  docs/cpp/03_Control_Flow/03_Switch_Case_Statements.md
  docs/cpp/04_Functions/01_Function_Basics.md
  docs/cpp/04_Functions/02_Function_Parameters_and_Return_Types.md
  docs/cpp/04_Functions/03_Function_Overloading.md
  docs/python/File Handling/_category.json
  docs/python/File Handling/directories.md
  docs/python/File Handling/file-handling-basics.md
  docs/python/File Handling/file-methods.md
  docs/python/File Handling/os-files-direcrtories.md
  docs/python/File Handling/read-file.md
  docs/python/File Handling/renaming-and-deleting.md
  docs/python/File Handling/write-to-file.md
Labels: documentation, GSSOC'24, level3, gssoc

#612 Add a Solution for Merge Sorted Array (LeetCode Problem 88)
  dsa-solutions/lc-solutions/0000-0099/0088-merge-sorted-array.md
Labels: documentation, GSSOC'24, level2, gssoc

#633 Added Random Meme Generator Project
  src/data/showcase/meme.png
  src/data/users.tsx
Labels: GSSOC'24, level2, gssoc

#642 exponent added
  dsa/index.md
Labels: documentation, GSSOC'24, level1, gssoc

#644 searching added
  dsa/Algorithms/searching.md
Labels: documentation, GSSOC'24, level2, gssoc

#646 Added K-Nearest Neighbor Solution
  assets/knnclassifier.png
  assets/kthNearest.png
  dsa-solutions/gfg-solutions/0025-K-Nearest Neighbor.md
Labels: documentation, GSSOC'24, level2, gssoc

#568 Added solutions for the LC problems from 2880-2882
  dsa-solutions/lc-solutions/2500 - 3000/2880 - Select Data
  dsa-solutions/lc-solutions/2500 - 3000/2881 - Create a New Column
  dsa-solutions/lc-solutions/2500 - 3000/2882 - Drop Duplicate Rows
  web-dev/html/Flex-Box/Flex-Box Properties
Labels: documentation, GSSOC'24, level2, gssoc

#663 Hashing and Hash table added
  dsa/Algorithms/hashing.md
Labels: documentation, GSSOC'24, level2, gssoc

#684 fix bug #610
  docusaurus.config.js
Labels: GSSOC'24, level1, gssoc

#591 [Feature Request]: Add Leetcode solution 15-17 #553
  dsa-solutions/lc-solutions/0000-0099/0017-letter-combinations-of-a-phone-number.md
Labels: documentation, GSSOC'24, level2, gssoc

#654 Added solution for Minimum-Difference-Between-Largest-and-Smallest-Value-In-Three-Moves
  dsa-solutions/lc-solutions/1500-1599/1509-Minimum Difference Between Largest and Smallest Value in Three Moves.md
Labels: documentation, GSSOC'24, level2, gssoc

#656 Created 0501-0525.md which contains 25 questions of gfg basic
  dsa-problems/gfg-problems/basic/0501-0525.md
Labels: documentation, GSSOC'24, level1, gssoc

#673 Update 0027-Remove-Element.md
  dsa-solutions/lc-solutions/0000-0099/0027-Remove-Element.md
Labels: documentation, GSSOC'24, level1, gssoc

#676 Created 0301-0400.md in gfg easy folder which contain 100 question of gfg
  dsa-problems/gfg-problems/easy/0301-0400.md
Labels: documentation, GSSOC'24, level2, gssoc

#677 prim added
  dsa/Algorithms/prim.md
Labels: documentation, GSSOC'24, level2, gssoc

#678 python networking docs added
  docs/python/Networking/_category.json
  docs/python/Networking/generics.md
  docs/python/Networking/networking-programming.md
  docs/python/Networking/socket-programming.md
  docs/python/Networking/url-processing.md
Labels: documentation, GSSOC'24, level2, gssoc

#686 Added solution for Maximum Non Negative Product In Matrix
  dsa-solutions/lc-solutions/1500-1599/1594-Maximum Non Negative Product in a Matrix.md
Labels: documentation, GSSOC'24, level2, gssoc

#687 #Issue641 fixed
  src/data/showcase/age-calculator.png
  src/data/users.tsx
Labels: GSSOC'24, level1, gssoc, Showcase Addition Request

#691 Added Searching Algorithms in DSA-Solution
  assets/LinearSearch_GFG.webp
  assets/binnary-search-.webp
  dsa-solutions/Searching-Algorithms/01-Linear-Search.md
  dsa-solutions/Searching-Algorithms/02-Binary-Search.md
  dsa-solutions/Searching-Algorithms/03-Breadth-First-Search (BFS).md
  dsa-solutions/Searching-Algorithms/04-Depth-First-Search (DFS).md
Labels: documentation, GSSOC'24, level3, gssoc

#695 Added Sorting Algorithms in DSA solution
  dsa-solutions/Sorting-Algorithms/Bubble-Sort.md
  dsa-solutions/Sorting-Algorithms/Insertion-Sort.md
  dsa-solutions/Sorting-Algorithms/Merge-Sort.md
  dsa-solutions/Sorting-Algorithms/Quick-Sort.md
  dsa-solutions/Sorting-Algorithms/Selection-Sort.md
  dsa-solutions/Sorting-Algorithms/Shell-Sort.md
Labels: documentation, GSSOC'24, level2, gssoc

#693 Added 0103-zigzag-order-traversal
  dsa-solutions/lc-solutions/0100-0199/0103-zigzag-order-traversal.md
Labels: documentation, GSSOC'24, level2, gssoc

#714 Added String Algorithms in DSA
  assets/KMP_algo.png
  dsa-solutions/index.md
  dsa/Algorithms/String-Algorithms/01-Knuth-Morris-Pratt (KMP).md
  dsa/Algorithms/String-Algorithms/02-Rabin-Karp Algorithm.md
  dsa/Algorithms/String-Algorithms/_category_.json
Labels: documentation, GSSOC'24, level2, gssoc

#696 Added 0112-path-sum
  dsa-solutions/lc-solutions/0100-0199/0112-path-sum.md
Labels: documentation, GSSOC'24, level2, gssoc

#704 forms in react added
  docs/react/getting-started/forms-in-react.md
Labels: documentation, GSSOC'24, level2, gssoc

#700 [Feature Request]: Adding solution for 82. Remove Duplicates from Sorted List II
  dsa-solutions/lc-solutions/0000-0099/0082-remove-duplicates-from-sorted-list-2.md
Labels: documentation, GSSOC'24, level2, gssoc

#692 Added solution for leetcode problem 0111
  dsa-solutions/lc-solutions/0100-0199/0111-minimum-depth.md
Labels: documentation, GSSOC'24, level2, gssoc

#715 Showcase : To do list App added
  src/data/showcase/todolist.png
  src/data/users.tsx
Labels: documentation, GSSOC'24, level1, gssoc

#712 Add a Solution for Longest Increasing Subsequence (LeetCode Problem 300)
  dsa-solutions/lc-solutions/0300-0399/0300-longest-increasing-subsequence.md
Labels: documentation, GSSOC'24, level2, gssoc

#727 added Time Complexity in DSA beginner module
  dsa/beginner/001-Time-Complexity.md
Labels: documentation, GSSOC'24, level2, gssoc

#729 Added solution for Rearrange Spaces Between Words
  dsa-solutions/lc-solutions/1500-1599/1592-Rearrange-Spaces-between-words.md
Labels: documentation, GSSOC'24, level2, gssoc

#728 Added solution for Split a String Into the Max Number of Unique Substrings
  dsa-solutions/lc-solutions/1500-1599/1593-split-a-string-into-the-max-number-of-unique-substrings.md
Labels: documentation, GSSOC'24, level2, gssoc

#732 Fix: Issue#703 - Added Guess the number game
  src/data/showcase/guessnumber.png
  src/data/users.tsx
Labels: GSSOC'24, level1, gssoc, Showcase Addition Request

#730 Added Solution for Leetcode Problem 329
  dsa-problems/leetcode-problems/0300-0399.md
  dsa-solutions/lc-solutions/0300-0399/0329-longest-increasing-path-in-a-matrix.md
Labels: documentation, GSSOC'24, level2, gssoc

#737 cpp-docs-sec-3-4-added
  docs/cpp/03_Control_Flow/01_Conditional_Statements.md
  docs/cpp/03_Control_Flow/02_Loops_in_Cpp.md
  docs/cpp/03_Control_Flow/03_Switch_Case_Statements.md
  docs/cpp/04_Functions/01_Function_Basics.md
  docs/cpp/04_Functions/03_Function_Overloading.md
Labels: documentation, GSSOC'24, gssoc

#690 added leetcode solution for Candy
  dsa-problems/leetcode-problems/0100-0199.md
  dsa-solutions/lc-solutions/0100-0199/0135-Candy.md
Labels: documentation, GSSOC'24, level2, gssoc

#697 Word ladder and word ladder II
  dsa-solutions/lc-solutions/0100-0199/0126-word-ladder-II.md
  dsa-solutions/lc-solutions/0100-0199/0127-word-ladder.md
Labels: documentation, GSSOC'24, level2, gssoc

#713 graph algo added
  dsa/Algorithms/multistage-graph.md
  dsa/Algorithms/prims.md
  dsa/Algorithms/tarjan.md
Labels: documentation, GSSOC'24, level2, gssoc

#755 Issue#733 fixed - Added QR Generator Project.
  src/data/showcase/qr_generator.png
  src/data/users.tsx
Labels: GSSOC'24, level1, gssoc, Showcase Addition Request

#756 fixes #702
  src/database/courses/index.tsx
Labels: help wanted, GSSOC'24, level1, gssoc

#742 Added solution for Make Sum Divisible by P
  dsa-solutions/lc-solutions/1500-1599/1590-Make-Sum-Divisible-By-P.md
Labels: documentation, GSSOC'24, level2, gssoc

#701 [Feature Request]: Adding solution for 84. Largest Rectangle in Histogram
  dsa-solutions/lc-solutions/0000-0099/0084-largest-rectangle-in-histogram.md
Labels: documentation, GSSOC'24, level2, gssoc

#726 Added Solution of 113 Leetcode problem solution
  dsa-solutions/lc-solutions/0100-0199/0113-path-sum-2.md
Labels: documentation, GSSOC'24, level2, gssoc

#736 Add a Solution for Range Sum Query (LeetCode Problem 303)
  dsa-solutions/lc-solutions/0300-0399/0303-range-sum-query-immutable.md
Labels: documentation, GSSOC'24, level1, gssoc

#738 Add a Solution for Range Sum Query 2D - Immutable (LeetCode Problem 304)
  dsa-solutions/lc-solutions/0300-0399/0304-range-sum-query-2d-immutable.md
Labels: documentation, GSSOC'24, level1, gssoc

#739 Add a Solution for Additive Number (LeetCode Problem 306)
  dsa-solutions/lc-solutions/0300-0399/0306-additive-number.md
Labels: documentation, GSSOC'24, level1, gssoc

#724 knapsack added
  dsa/Algorithms/knapsack.md
Labels: documentation, GSSOC'24, level1, gssoc

#750 Create CSS-Animations.md
  docs/CSS/css-basics/CSS-Animations.md
Labels: documentation, GSSOC'24, level3, gssoc

#741 Feat: Update scrollbar styles in custom.css
  src/css/custom.css
Labels: enhancement, GSSOC'24, level1, gssoc

#751 Added Kruskal's Algorithm
  dsa/Algorithms/kruskal's.md
Labels: documentation, GSSOC'24, level2, gssoc

#765 Added solution for Sum of All Odd Length Subarrays
  dsa-solutions/lc-solutions/1500-1599/1588-Sum of All Odd Length Subarrays.md
Labels: documentation, GSSOC'24, level2, gssoc

#764 Created 0301-0400.md which contain 100 question of gfg
  dsa-problems/gfg-problems/medium/0301-0400.md
Labels: documentation, GSSOC'24, level1, gssoc

#777 Dbms docs sec 5 6 7 added
  docs/DBMS/Indexing And Hashing/_category.json
  docs/DBMS/Indexing And Hashing/hashing.md
  docs/DBMS/Indexing And Hashing/indexing.md
  docs/DBMS/Storage And File Structure/_category.json
  docs/DBMS/Storage And File Structure/dbms-file-structure.md
  docs/DBMS/Storage And File Structure/dbms-storage-system.md
  docs/DBMS/Transaction and Concurrency/_category.json
  docs/DBMS/Transaction and Concurrency/dbms-concurrency-control.md
  docs/DBMS/Transaction and Concurrency/transaction.md
Labels: documentation, GSSOC'24, level3, gssoc
